<!DOCTYPE html>
<html lang="en" >
  <head>
    <style>
        ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        font-color:blue
        }

        li {

        display: inline;
        }

        li a {
        padding: 20px;
        }
    </style>

    <meta charset="utf-8">

    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="tophead">
      <iframe MARGINWIDTH=0 MARGINHEIGHT=0 HSPACE=0 VSPACE=0 FRAMEBORDER=0 SCROLLING=auto src="template.html" width="100%"  height="auto">
    </iframe>
   </div>

    <div class="jumbotron text-center">
      <h3>PIPELINE SECTIONS</h3>
    <p>
      <h5 style="border:4px; border-style:solid; border-color:#00008B; background-color: #008080;margin:auto; width:50%;padding: 1em;"><div class="box blue">GENOME ASSEMBLY</div></h5>
      <p>

          Utilizing optimal tools to convert raw sequence data to assembled genome sequences

      </p>

      <h5 style="border:4px; border-style:solid; border-color:#00008B; background-color: #008080;margin:auto; width:50%;padding: 1em;">GENE PREDICTION</h5>
      <p>
        Identifying regions of the genomic DNA that encodes genes
      </p>
      <h5 style="border:4px; border-style:solid; border-color:#00008B; background-color: #008080;margin:auto; width:50%;padding: 1em;">FUNCTIONAL ANNOTATION </h5>
      <p>
        Obtaining functional (biochemical functions, biological functions, expression, regulation and interaction) information of the genome
      </p>
      <h5 style="border:4px; border-style:solid; border-color:#00008B; background-color: #008080;margin:auto; width:50%;padding: 1em;">COMPARATIVE GENOMICS</h5>
      <p>
        Comparison of genome features of different organisms
      </p>
    </p>

    </div>
  </body>
</html>
