<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Comparative Genomics</title>
  </head>
  <body>

<h3><center>COMPARATIVE GENOMICS</center></h3>    
  <div class="container">
      <strong>
          <p font-size=40px;">Input file</p>
      </strong>
      <form action="./upload_sequence.py">
          <input type="file" id="myFile" name="filename">
          
      </form>

  </div>

  <div class="container">
     <strong>
      <form action="/action_page.php">
  	<h5>Email</h5>
  	<input type="text" id="fname" name="fname"><br><br>
  	<h5>Output file name</h5>
  	<input type="text" id="lname" name="lname"><br><br>
  	<input type="submit" value="Submit">
</strong>      
</form>

  </div>
    
  </body>
</html>
