<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Functional Annotation</title>
  </head>
  <body>

<h3><center>FUNCTIONAL ANNOTATION</center></h3>    
  <div class="container">
      <strong>
          <p font-size=40px;">Input File</p>
      </strong>
      <form action="./upload_sequence.py">
          <input type="file" id="myFile" name="filename">
          
      </form>

  </div>
 
  <div class="container">
	  <form action="">
	  	<h4>Tools</h4>
		  <input type="checkbox" id="tools1" name="tool1" value="functional_annotation">
		  <label for="tools1">InterProScan</label><br>
		  <input type="checkbox" id="tools2" name="tool2" value="functional_annotation">
		  <label for="tools2">EggNOGmapper</label><br>
		  <input type="checkbox" id="tools3" name="tool3" value="functional_annotation">
		  <label for="tools2">DeepARG</label><br>
		  <input type="checkbox" id="tools4" name="tool4" value="functional_annotation">
		  <label for="tools2">SignalP 5.0</label><br>
		  <input type="checkbox" id="tools5" name="tool5" value="functional_annotation">
		  <label for="tools2">TMHMM</label><br>
		  <input type="checkbox" id="tools6" name="tool6" value="functional_annotation">
		  <label for="tools2">CRT</label><br>
		 
	</form>
<div>

  <div class="container">
     <strong>
      <form action="/action_page.php">
  	<h5>Email</h5>
  	<input type="text" id="fname" name="fname"><br><br>
  	<h5>Output file name</h5>
  	<input type="text" id="lname" name="lname"><br><br>
  	<input type="submit" value="Submit">
</strong>      
</form>

  </div>
    
  </body>
</html>
