<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>General Analyze</title>
  </head>

  <body>
    <div class="tophead">
      <iframe MARGINWIDTH=0 MARGINHEIGHT=0 HSPACE=0 VSPACE=0 FRAMEBORDER=0 SCROLLING=auto src="template.html" width="100%"  height="auto">
    </iframe>
   </div>

  <div class="header">
    <h2>Analyze</h2>
  </div>


  <div class="container" align="center" style="padding:50px">
      <strong>
          <p style="text-align:center; font-size=40px;">Upload a sequence file (read 1) in FASTQ format here:</p>
      </strong>
      <form action="./upload_sequence.py">
          <input type="file" id="myFile" name="filename">
      </form>

  </div>
  <div class="container" align="center" style="padding:50px">
      <strong>
          <p style="text-align:center; font-size=40px;">Upload a sequence file (read 2) in FASTQ format here:</p>
      </strong>
      <form action="./upload_sequence.py">
          <input type="file" id="myFile" name="filename">
      </form>

  </div>

  <div class="container" align="center">
      <strong>
          <p style="text-align:center; font-size=40px;"> Email:</p>
      </strong>
          <input type="text" id="email" name="emailaddress">
      </form>

  <div class="buttom">
    <br>
    <button type="submit" class="btn btn-success">Start Assembling</button>
  </div>

  </body>
</html>
